<script type="text/javascript">
function insert(num){
  document.form.id.value = document.form.id.value=num
}
function equal(){
  var exp = document.form.id.value;
  if(exp){
    document.form.id.value = eval(exp)
    }
}
</script>
<style media="screen">
  .button{
    border:0;
    width:10px;
    height:10px;
    padding:0;
    margin:0;
  }
</style>
<div style="border:1px solid black;height:720;width:1280px;display:flex;flex-wrap:wrap;margin:auto;" class="box">
{% for pixel in dolbaeb %}
<input class="button" type="button" style="background:{{pixel.color}}" onclick="insert({{pixel.id}})">
{% endfor %}
</div>
    <form  name="form" style="bottom: 0;position: fixed;" method="POST">
        {% csrf_token %}
        <p>
            <label>Выберите пиксель и ведите цвет</label><br>
            <input  style="display:none;"class="textview" type="text" name="id" value="{{pixel.id}}" >
            <input type="text" name="color" >
        </p>
        <input type="submit" value="Отправить" >
    </form>
